.headerNav {
  background-color: #181719;
  border: 1.2px solid #2e2e2e;
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0px 0px 9px 0px rgb(39 39 39);
}

.navContainer {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.navLink {
  position: relative;
  padding: 0.75rem 1.5rem;
  border: none;
  background: none;
  color: #666;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 2;
  white-space: nowrap;
  font-family: inherit;
}

.navLinkActive {
  color: #ffffff;
  font-weight: 400;
}

.navIndicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: 1.5px solid #ffffff;
  border-radius: 10px;
  transition: all 0.4s;
  z-index: 1;
  transform-origin: center;
  opacity: 0;
}
