.movieCard {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  background-color: #181719;
  border: 1.2px solid #2e2e2e;
  height: 670px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px 0px rgb(39 39 39);
}
.movieCardPoster {
  border-radius: 10px;
}
